.form {
    margin: auto;
    width: fit-content;
    gap: 1rem;
}

.input {
    text-align: center;
    padding: 1rem;
    width: 20rem;
    background: var(--gray);
    color: var(--black);
    font-size: 1rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
}

.btn {
    height: 3.4rem;
    width: 3.6rem;
    border: none;
    border-radius: 0.8rem;
    background: var(--green);
}