@import url('fonts/fonts.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

:root {
	--black: #181B19;
	--white: #ffffff;
	--green: #20CD7F;
	--green-light: rgba(32, 205, 127, 0.12);
	--green-dark: #96AA55;
	--green-dark-light: #96AA5526;
	--red: #F84440;
	--red-light: #F8444026;
	--blue: #4397FA;
	--blue-light: #4397FA26;
	--purple: #947DF0;
	--orange: #FED696;
	--gray-light: #F5F5F5;
	--gray: #ededed;
	--radius: 48px;
}

body {
	direction: rtl;
	background: var(--white);
    font-family: peyda;
	padding: 2.5em 7rem 5rem 7rem;
}

button { font-family: peyda; cursor: pointer; }
input { font-family: peyda; }

/* classes */

.btn {
	border: var(--black);
	text-decoration: none;
	color: var(--white);
	background: var(--black);
	border-radius: var(--radius);
	padding: 0.9rem 2rem;
	font-weight: 500;
	font-size: 1rem;
	transition: 300ms;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.btn-only:hover {
	outline: 1.5px solid var(--gray);
	background: var(--white);
	color: var(--black);
}

.btn-outline {
	border: 1.5px solid var(--gray);
	background: var(--white);
	color: var(--black);
}

.btn-outline:hover {
	background: var(--black);
	color: var(--white);
}


.flex {
	display: flex;
	align-items: center;
}

.flex-column { flex-direction: column; }
.flex-align-start { align-items: flex-start; }
.flex-align-end { align-items: flex-end; }
.justify-center { justify-content: center; }
.justify-around { justify-content: space-around; }
.justify-space { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.section-space { margin-top: 14rem; }

/* classes end */